<div class="container mx-auto mt-5 p-3">

  <div class="container mx-auto">
    <% @articles.each do |article| %>
        <h2 class="pt-3"><%= link_to article.title, article_path(article), class: 'link' %></h2>
        <p><%= article.content %></p>
    <% end %>
  </div>
</div>
